.disabledBtn{
    color: black;
    margin-left: 5px;
}

.s7DriveContainer {
    padding: 10px;
    text-align: center;
    font-weight: 500;
    color: black;
}

.switchedOn{
    color: orange;
}

.switchedOff{
    color: gray;
}